@charset "UTF-8";

$header-bgc: #0067FF;
$header-height: 3rem;
$selected-tab-bgc: #F0F3FF;
$table-head-bgc: #F7F7FA;
$sns-button-bgc: #02C639;
$apply-button-bgc: #0067FF;
$apply-button-disabled-bgc: #F7F7FA;
$main-box-width: 1860px;
$main-box-height: 726px;
$main-margin-bottom-value: 3rem;
$main-custom-button-margin-bottom-value: 48px;
$font: Noto Sans CJK KR;
$logo-width: 1.7rem;
$body-bcg: #F7F7FA;
$nav-selected: #F0F3FF;
$main-border-color: #E1E3E9;
$border-radius-value: 5px;
$col1-width-potion: 56.6;   // 체크박스
$col2-width-potion: 66;     // 별표
$col3-width-potion: 61;     // NO
$col4-width-potion: 63;     // 등급
$col5-width-potion: 204;    // 이름(닉네임
$col6-width-potion: 63;   // 나이
$col7-width-potion: 60;   // 성별
$col8-width-potion: 60;   // 지역
$col9-width-potion: 153;   // 활동 분야
$col10-width-potion: 532;  // 전략
$col11-width-potion: 76;  // 추천수
$col12-width-potion: 76;  // 취소율
$col13-width-potion: 106;  // 평균 투데이
$col14-width-potion: 94;  // SNS 계정
$col15-width-potion: 108.5;  // 내 브랜드 참여
$total-table-width-potion: $col1-width-potion + $col2-width-potion + $col3-width-potion + $col4-width-potion + $col5-width-potion + $col6-width-potion + $col7-width-potion + $col8-width-potion + $col9-width-potion + $col10-width-potion + $col11-width-potion + $col12-width-potion + $col13-width-potion + $col14-width-potion + $col15-width-potion;

@page {
  margin: 0;
  font-family: $font;
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  color: #202225;
  background-color: #F7F7FA;
}

body {
  margin: 0;
  background-color: $body-bcg;
  width: 1920px;
  height: 1020px;
}

header {
  width: 100%;
  height: $header-height;
  background-color: $header-bgc;
  color: #FFFFFF;
  font: $font;
  display: inline-block;

  .header-box {
    margin-left: 1.7rem;
  }

  .header-logo {
    width: $logo-width;
    height: $logo-width * 0.656;
    //margin-top: 0.75rem;
    vertical-align: middle;
  }

  .header-bold {
    display: inline-block;
    font-weight: 700;
    vertical-align: middle;
    margin-left: 0.5rem;
  }

  .header-p {
    display: inline-block;
    margin: 0;
  }
}

main {
  background-color: #FFFFFF;
  margin: 3rem 2rem 3rem 2rem;
  border: solid 1px $main-border-color;
  border-radius: $border-radius-value;
  width: 1860px;
  height: 726px;

  nav {
    height: 60px;
    width: 100%;
    line-height: 60px;
    border-bottom: 1px solid $main-border-color;
    .nav-tab {
      display: inline-block;
      width: 202px;
      font-weight: 500;
      color: #9DA1A8;
      text-align: center;
      vertical-align: middle;
      border-right: 1px solid $main-border-color;
    }
  }

  .table-box {
    width: 1779px;
    height: 544px;
    margin: 40px;
  }

  .table-head {
    display: table;
    width: 100%;
    border-collapse: collapse;
    background-color: #F7F7FA;
    height: 2.5rem;
  }

  .table-head-cell {
    display: table-cell;
    border: 1px solid #E1E3E9;
    border-collapse: collapse;
    color: #52565D;
    text-align: center;
    vertical-align: middle;
  }

  .table-body {
    width: 100%;
    background-color: #FFFFFF;
    display: table;
    border-collapse: collapse;
    height: 2.5rem;
  }

  .table-body-cell {
    display: table-cell;
    border: 1px solid #E1E3E9;
    border-top: 0;
    border-collapse: collapse;
    color: #52565D;
    text-align: center;
    vertical-align: middle;
  }
  // 체크박스
  .col1 {
    width: calc($col1-width-potion / $total-table-width-potion * 100%);
  }
  // 별표
  .col2 {
    width: calc($col2-width-potion / $total-table-width-potion * 100%);
  }
  // NO
  .col3 {
    width: calc($col3-width-potion / $total-table-width-potion * 100%);
  }
  // 등급
  .col4 {
    width: calc($col4-width-potion / $total-table-width-potion * 100%);
  }
  // 이름(닉네임)
  .col5 {
    width: calc($col5-width-potion / $total-table-width-potion * 100%);
  }
  // 나이
  .col6 {
    width: calc($col6-width-potion / $total-table-width-potion * 100%);
  }
  // 성별
  .col7 {
    width: calc($col7-width-potion / $total-table-width-potion * 100%);
  }
  // 지역
  .col8 {
    width: calc($col8-width-potion / $total-table-width-potion * 100%);
  }
  // 활동 분야
  .col9 {
    width: calc($col9-width-potion / $total-table-width-potion * 100%);
  }
  // 전략
  .col10 {
    width: calc($col10-width-potion / $total-table-width-potion * 100%);
  }
  // 추천수
  .col11 {
    width: calc($col11-width-potion / $total-table-width-potion * 100%);
  }
  // 취소율
  .col12 {
    width: calc($col12-width-potion / $total-table-width-potion * 100%);
  }
  // 평균 투데이
  .col13 {
    width: calc($col13-width-potion / $total-table-width-potion * 100%);
  }
  // SNS 계정
  .col14 {
    width: calc($col14-width-potion / $total-table-width-potion * 100%);
  }
  // 내 브랜드 참여
  .col15 {
    width: calc($col15-width-potion / $total-table-width-potion * 100%);
  }

  .strategy-input {
    width: 90%;
    height: 55%;
    border: 1px solid #E1E3E9;
    border-radius: $border-radius-value;
  }

  .main-button-area {
    display: inline-block;
    text-align: center;
    border-bottom: 1px;
    margin-bottom: calc($main-custom-button-margin-bottom-value + $main-margin-bottom-value);
  }

  .custom-button {
    display: inline-block;
    background-color: #F7F7FA;
    border-radius: $border-radius-value;
    color: #9DA1A8;
    width: 104px;
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
    text-align: center;
  }
}
